.order-card-row-1 {
    padding: 0px 0px 10px 0px;
    /* background-color: black; */
    /* margin : 0, 16px; */
}
.order-card-row-2 {
    padding-bottom: 10px;
    
    /* background-color: black; */
    /* margin : 0, 16px; */
}

.title {
    margin: 0 46px;
    color: #808080;

}

.card {
    background-color: white;
    margin: 0 46px;
    padding: 0, 15px;
}

.order-amount {
    font-size: 18px;
    color: #1e2329;
    font-weight: bolder;
}

.name {
    color: #285c93;
    font-size: 14px;
}

.order-bank {
    font-size: 14px;
    color: #1e2329;
}

.order-right-row {
    display: flex;
    justify-content: flex-end;
}

.order-phone{
    font-size: 14px;

}

.bank-lead {
    display: inline-block;
    width: 3px;
    height: 7px;
    margin-right: 4px;
}
.bank-lead-d {
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    min-width: 0px;
    width: 4px;
    height: 10px;
    border-radius: 4px;
    background-color: rgb(0, 198, 255);
    flex: 0 0 auto;
}


.order-fee {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    color: #03A66D;
    background-color: #E6FFF1;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
}


.order-total {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    color: #a61e03;
    background-color: #ffebe6;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;

}




.order-button {
    margin: 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 14px;
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    outline: none;
    padding: 6px 12px;
    line-height: 20px;
    min-width: 52px;
    word-break: keep-all;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    min-height: 24px;
    border: none;
    background-color: rgb(14, 203, 129);
    /* width: 100%; */
    /* display: inline-block; */
}

.order-button-dropdown {
    background-color: #053969;
}

.order-button-edit {
    margin-left: 20px;
}
.order-button-delete {
    margin-left: 20px;
    background-color: #f74f43;
}

.order-card-row-3{
    margin-top: 15px;
    margin-bottom: 30px;
}
.divider{
    margin-bottom:50px ;
}
.order-date-col{
    justify-content: right;
    text-align: right;
}

.order-date{
    display: inline;
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    color: #1603a6;
    background-color: #e9e6ff;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
}